<div class="flex flex-col items-center justify-start w-full">
  <ul class="steps mb-5">
    <li data-content="?" class="step step-primary">Ecosystem</li>
    <li data-content="" class="step">Input</li>
    <li data-content="" class="step">Proof</li>
    <li data-content="" class="step">Agree</li>
    <li data-content="" class="step">Submit</li>
  </ul>

  <div class="text-3xl">Select your ecosystem</div>

  <select class="select select-lg">
    <option disabled selected>Select ...</option>
    <option>Catena-X</option>
    <option>Ecosystem 2</option>
    <option>Ecosystem 3</option>
    <option>Ecosystem 4</option>
  </select>

</div>

